.homeCont{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 45%;
    background: rgb(251, 255, 199);
    border-radius: 25px;
    border-color: #fffb1c;
    border-style: solid;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
    padding: 1%;
    font-family: Tahoma, sans-serif;
    
}

.homeWrapper{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height:  30%;
    flex-direction: column;
}

img.rmlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 35%;
  }
  

th {
    padding: 2%;
    font-size: 22px;
}

td {
    padding: 2%;
    font-size: 20px;
    text-align : center
}

.btn {
    font-size: large;
    color: white;
    box-shadow: none;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 500px;
    background-color: #080203;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color 0.27s;
    margin: 8px;
    user-select: none;
  }

  :disabled {
    background-color: pink;
  }